/* Stili per le immagini jumbo-img */
img.jumbo-img {
  position: absolute;
  bottom: 1.75rem;
  right: 5%;
  z-index: 99;
  width: 80%;
  max-width: 690px;
}


@media screen and (max-width: 928px) {
  img.jumbo-img {
    display: none;
  }
}


/* Media query per dispositivi mobili */
@media screen and (max-width: 460px) {
  img.jumbo-img {
    display: none;
  }

  img.jumbo-img.mobile-view {
    display: block;
    width: 50%;
    position: absolute;
    bottom: -2.6rem;
    right: 0;
    z-index: -1;
    filter: drop-shadow(-4px 10px 13px var(--bg-light));
  }
}